/* stylelint-disable-next-line block-no-empty */
.Text {

}

.primary {
    .titleBlock {
        font: var(--font-l);
        color: var(--primary-color);
    }

    .textBlock {
        font: var(--font-m);
        color: var(--primary-color);
    }
}

.inverted {
    .titleBlock {
        font: var(--font-l);
        color: var(--inveted-primary-color);
    }

    .textBlock {
        font: var(--font-m);
        color: var(--inverted-secondary-color);
    }
}

.error {
    .titleBlock {
        color: var(--error-light);
    }

    .textBlock {
        color: var(--error-dark);
    }
}

// align

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

// size

.text_s {
    .titleBlock {
        font: var(--font-m);
    }

    .textBlock {
        font: var(--font-s);
    }
}

.text_m {
    .titleBlock {
        font: var(--font-l);
    }

    .textBlock {
        font: var(--font-m);
    }
}

.text_l {
    .titleBlock {
        font: var(--font-xl);
    }

    .textBlock {
        font: var(--font-l);
    }
}

.text_xl {
    .titleBlock {
        font: var(--font-xl);
    }

    .textBlock {
        font: var(--font-xl);
    }
}
