.ArticleListItem_tile {
    width: 230px;

    .articleImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .created {
        position: absolute;
        right: 5px;
        top: 0;
        display: none;
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .type p,
    .title p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .type p {
        width: 100px;
    }

    .title p {
        width: 190px;
    }

    &:hover {
        .created {
            display: block;
        }

        transform: scale(1.01);
        transition: transform 0.2s;
    }
}
