.SidebarItem {
    margin-bottom: 3px;
}

.link {
    opacity: 1;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: 0.2s opacity;
}

.icon {
    color: var(--inverted-primary-color);
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        pointer-events: none;
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
        height: var(--font-line-m);
    }
}
