.ArticleList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}

.emptyArticles {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
