.ArticleListItem_list {
    width: 100%;
    padding-inline: 250px;

    .header,
    .footer {
        width: 100%;
    }

    .articleImage {
        width: 100%;
        height: 350px;
        object-fit: contain;
    }

    .articleText p {
        overflow: hidden;
        max-height: 150px;
        white-space: wrap;
    }
}