.ListBox {
    position: relative;

    & svg {
        fill: var(--primary-color);
    }
}

.trigger {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.triggerBtn {
    padding: 6px 12px;
    color: var(--primary-color);
}

.options {
    min-width: 100%;
    position: absolute;
    background-color: var(--listbox-bg-color);
    z-index: 10000;
    box-shadow: 4px 4px 8px var(--listbox-bg-color);
    border-radius: 6px;

    // directions
    & .top {
        bottom: 100%;
    }
}

.item {
    padding: 10px 20px;

    & .active {
        background-color: var(--secondary-color);
    }

    & .disabled {
        opacity: 0.6;
    }
}

// themes

.primary {
    color: var(--primary-color);
}

.underline {
    & .triggerBtn {
        border-radius: 0;
        border-inline: none;
        border-top: none;
        border-bottom: 1px solid rgb(from var(--primary-color) r g b / 60%);
    }
}

// options

.labelled {
    & .triggerBtn {
        padding: 16px 30px 4px 11px;
    }

    .label {
        position: absolute;
        left: 10px;
        top: 0;
        font: var(--font-s);
        color: rgb(from var(--primary-color) r g b / 60%);
        pointer-events: none;
    }
}

.fullwidth {
    & .ListBox {
        width: 100%;
    }

    & .trigger {
        width: 100%;
    }

    & .triggerBtn {
        width: 100%;
    }
}
