.Select {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: none;
    width: 100%;

    // Общие стили для селекта в любом состоянии
    & .selector {
        appearance: none;
        background-image: url("/src/shared/assets/icons/arrow-down-icon.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px;
        width: 100%;
        flex: 1;
        font: var(--font-m);
        color: var(--primary-color);
        padding: 14px 30px 6px 10px;
        border: none;
        outline: none;
        height: 44px;
        background-color: transparent;
        cursor: pointer;

        &:disabled {
            cursor: default;
            background-image: none;
            color: rgb(from var(--primary-color) r g b / 60%);
            opacity: 1;
            -webkit-text-fill-color: rgb(from var(--primary-color) r g b / 60%); // Для Safari
        }
    }

    & .option {
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
}

.label {
    position: absolute;
    left: 10px;
    top: 0;
    font: var(--font-s);
    color: rgb(from var(--primary-color) r g b / 60%);
    pointer-events: none;
}

.underline {
    border-radius: 0;
    border-inline: none;
    border-top: none;
    border-bottom: 1px solid rgb(from var(--primary-color) r g b / 60%);

    /* stylelint-disable-next-line no-descending-specificity */
    & .selector {
        padding: 15px 30px 7px 11px;
    }
}
