body.green {
    /* Font */
    --primary-color: #005611;
    --secondary-color: #f1f8f3;
    --inverted-primary-color: #f1f8f3;
    --inverted-secondary-color: #005611;

    /* Background */
    --bg-color: #f1f8f3;
    --inverted-bg-color: #005611;
    --code-bg-color: #ecf7ef;

    /* Error */
    --error-light: #f87171;
    --error-dark: #e16262;

    /* Skeleton */
    --skeleton-shadow: #b5d0a1;
    --skeleton-color: rgb(from #005611 r g b / 20%);

    /* Scrollbar */
    --scrollbar-bg-color: #f1f8f3;
    --scrollbar-color: #788474;

    /* Card */
    --card-color: #c8d8cd;

    /* ListBox */
    --listbox-bg-color: #e3efe7;
}
