.ArticlesPageFilters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.sortWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
