.ArticleDetailsPage {
    width: 100%;
    position: relative;
    padding-inline: 250px;
}

.backLink {
    position: absolute;
    left: 10px;
    top: 10px;
}

.recommendations {
    margin-top: 20px;
    flex-wrap: nowrap !important;
    overflow-y: hidden;
    overflow-x: auto;
}

.comments {
    margin-top: 40px;
}
