.Navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100vw;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
}

.appName {
    margin-left: 10px;
    color: var(--inverted-primary-color);
}

.createNewLink {
    margin-left: 180px;
}

.links {
    margin-left: auto;
}

.loginBtn {
    margin-right: 15px;
}
