.CommentCard {
    padding: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.commentText {
    margin-left: 12px;
}

.loading {
    border: 1px solid rgb(from var(--primary-color) r g b / 30%);
}
